.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #91c8e7;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

h1 {
    text-align:center;
    color: #000000;
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 60px;
}

body{
    background-color:white
}